<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FPUConnMode" value="2" />
    <add key="FPUPort" value="COM5" />
    <add key="FPULogLevel" value="1" />
    <add key="PMode" value="True" />
    <add key="Departman" value="0=0,1=1,2=2,3=3,4=4" />
    <add key="DebugMode" value="55" />
    <add key="BarkodPrint" value="0" />
     <add key="YemekCeki" value="1" />
    <add key="SlipPrinter" value="OLIVETTI PR4 DR Slip" />
    <add key="InvoicePrinter" value="Fatura" />
    <add key="AutoOpenFis" value="1" />
    <add key="IadeFiyat" value="1" />
    <add key="Promosyon" value="1" />
    <add key="Server" value="" />
    <add key="ServerPatch" value="NetWork\Trans" />
    <add key="ServerPatch2" value="NetWork\Update" />
    <add key="ServerPatch3" value="NetWork" />
  </appSettings>
  <connectionStrings>
    <add name="mongoDBConnectionString" connectionString="mongodb://localhost:27017" />
    <add name="mongoDBConnectionString2" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://88.248.251.168:8080/Ws96547825.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="webService.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>